<center>
<h1>Apps</h1></br></br>
<a href="/Apps/Social.html"><h3>Social</h3></a></br>
<a href="/Apps/Entertainment.html"><h3>Entertainment</h3></a></br>
<a href="/Apps/Games.html"><h3>Games</h3></a></br>
<a href="/Apps/Utility.html"><h3>Utility</h3></a></br>
<a href="/Apps/MusicVideos.html"><h3>Music and Videos</h3></a></br>
</center>
