<center>
  <h1>Messages</h1></br>
  <a href="/Messages/Create.html"><h3>Create a new Message</h3></a></br>
  <a href="/Messages/Notif.html"><h3>Notifications</h3></a></br>
  <a href="/Messages/sent.html"><h3>Sent Messages</h3></a></br>
  <a href="/Messages/Inbox.html"><h3>Inbox</h3></a></br>
  <a href="/Messages/mms.html"><h3>MMS</h3></a></br>
</center>
