<center>
<h1>Phone</h1></br></br>
<a href="/Phone/directory.html"><h3>Directory</h3></a></br>
<a href="/Phone/missed.html"><h3>Missed Calls</h3></a></br>
<a href="/Phone/received.html"><h3>Received Calls</h3></a></br>
<a href="/Phone/dialled.html"><h3>Dialled Numbers</h3></a></br>
<a href="/Phone/callHistory.html"><h3>Call History</h3></a></br>
</center>
