<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <center>
      <div class="col-xl-12" align="center">
        {{{body}}}
      </div>
    </center>
  </body>
</html>
